<div class="body">
  <mat-spinner *ngIf="_isLoading" class="spinner"></mat-spinner>

  <form *ngIf="!_isLoading" [formGroup]="_form" (ngSubmit)="Login()" class="form">
    <h1>Login</h1>
    <mat-form-field class="full-width">
      <mat-label>Username</mat-label>
      <input autocomplete="off" formControlName="usuario" matInput placeholder="Username">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input autocomplete="off" type="password" matInput formControlName="password" placeholder="Password">
    </mat-form-field>

    <button mat-raised-button class="button" [disabled]="_isLoading || _form.invalid" color="primary">Login</button>
  </form>
</div>