<div class="container">
    <mat-toolbar>
        <span i18n>Create user</span>
    </mat-toolbar>

    <mat-card>
        <mat-card-content>
            <form [formGroup]="_form" (submit)="createUser()">
                <mat-grid-list cols="2" [rowHeight]="'70px'">
                    <mat-grid-tile>
                        <mat-form-field class="full-width">
                            <mat-label i18n>Name</mat-label>
                            <input matInput formControlName="name" autocomplete="off" placeholder="Name">
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field class="full-width">
                            <mat-label i18n>Lastname</mat-label>
                            <input matInput formControlName="lastName" autocomplete="off" placeholder="Last Name">
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field class="full-width">
                            <mat-label i18n>Date of Birth</mat-label>
                            <input matInput [matDatepicker]="picker" autocomplete="off" formControlName="dateOfBirth">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="2">
                        <button class="margin" type="submit" color="primary" i18n mat-raised-button
                            [disabled]="!_form.valid || _loading">Save</button>

                        <button class="margin" (click)="cancel()" i18n mat-raised-button>Cancel</button>
                    </mat-grid-tile>
                </mat-grid-list>
            </form>
        </mat-card-content>
    </mat-card>
</div>